.box{
  padding: 100px;
  background-color: aqua;
}

#first{
  margin-left: 160px;
  margin-bottom: 50px;
  border-radius: 5px;
}
#secs{
  margin-left: 160px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.display{
  text-align: center;

}
.yip{
  padding-left: 0px;
}
.btn{
  margin-left : 50px;;
}

@media (max-width: 576px) {
  body{
    background-color: blue;
  }
}
